 <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Account Locked</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            Your account has been temporarily locked due to multiple unsuccessful login attempts. Please contact our support team or try again later.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <h3> class="btn btn-primary">Contact Support</h3>
                        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-secondary">ForgotPassword</a>
                    </div>
                </div>
            </div>
        </div>
    </div>